/* Style général pour la VBox */
#buttonConnexion {
    -fx-background-image: url('art.jpg'); /* Remplacez par le chemin de votre image */
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Style pour les champs de texte */
#identifiantField, #mdpField {
    -fx-background-color: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent */
    -fx-border-color: #021a20; /* Couleur de bord */
    -fx-border-radius: 5; /* Coins arrondis */
    -fx-padding: 10; /* Espacement interne */
    -fx-font-size: 14px; /* Taille de la police */
}

/* Style pour le bouton de connexion */
#connexionButton {
    -fx-background-color: #28a745; /* Couleur de fond du bouton */
    -fx-border-radius: 5; /* Coins arrondis */
    -fx-padding: 8; /* Espacement interne */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-transition: all 0.3s; /* Transition pour les effets */
    -fx-text-fill: white; /* Texte en blanc */
}

#connexionButton:hover {
    -fx-background-color:  #6fcf97; /* Couleur de fond au survol */
    -fx-text-fill: white /* Couleur du texte au survol */
}

/* Style pour les HBox et VBox */
VBox, HBox {
    -fx-spacing: 15; /* Espacement entre les éléments */
}

/* Ajustement du style de texte */
.prompt-text {
    -fx-text-fill: #021a20; /* Couleur du texte d'invite */
}
#appTitle {
    -fx-font-size: 24px; /* Taille du texte */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-text-fill: #ffffff; /* Texte blanc */
    -fx-alignment: center; /* Alignement centré */
}
#italicLabel {
    -fx-font-size: 16px; /* Taille du texte */
    -fx-font-weight: bold;/* Texte en gras */
    -fx-font-style: italic; /* Texte en italique */
    -fx-text-fill: #ffffff; /* Texte blanc */
    -fx-alignment: center; /* Alignement centré */
    -fx-padding: 0 0 10 0; /* Réduit l'espacement entre le label et l'élément au-dessus */
}
